body{
    width:90vw;
    height:100vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.User{
    width:600px;
    height:200px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    border: 2px solid black ;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 4px 4px 20px grey;
}
.info{
    display: flex;
    
   }

.picture{
    width:100px;
    height:120px;
    margin-top:10px;
    margin-left:10px;
}

.name{
   margin-left:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .description{
    width: 700px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   align-self: center;
   margin-left: 150px;
   }
.Date{
    align-self: flex-end;
    margin-right:10px;
    margin-bottom:0px;
}

